<div class="container-fluid home-page">
    <div class="main">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div class="text-center container-text">
                        <h1>Iphone 15 Pro</h1>
                        <h2>Titanium. So strong. So light. So Pro.</h2>
                        <button class="btn btn-light" href="" routerLink="/products">Shop Now</button>
                    </div>
            </div>
            <div class="col-md-6">
                <img src="https://www.apple.com/v/iphone-15-pro/c/images/overview/design/lightest__boybgwifuehe_large.jpg"
                    alt="iphone-15-pro">
            </div>

        </div>
    </div>
</div>


