<div class="container">
    <mat-card class="edit-page" *ngIf="user">
        <mat-card-title class="text-center m-3"> Profile</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form">
                <mat-form-field>
                    <!-- <mat-label>Name</mat-label> -->
                    <input matInput type="text" placeholder="Name" readonly>
                    {{ user.name }}
                </mat-form-field>
                <mat-form-field>
                    <!-- <mat-label>Last Name</mat-label> -->
                    <input matInput type="text" placeholder="Last Name" readonly>
                    {{ user.lastName }}
                </mat-form-field>
                <mat-form-field apperance="outline">
                    <mat-label>Bio</mat-label>
                    <input matInput type="text" placeholder="  {{ user.bio }}" formControlName="bio">

                </mat-form-field>
                <mat-form-field>
                    <!-- <mat-label>Email</mat-label> -->
                    <input matInput type="email" placeholder="Email" readonly>
                    {{ user.email }}
                </mat-form-field>
                <mat-form-field>
                    <!-- <mat-label>Password</mat-label> -->
                    <input matInput type="password" placeholder="Password" readonly>
                    {{user.password}}

                </mat-form-field>
                <mat-form-field apperance="outline">
                    <!-- <mat-label>Area of Interest</mat-label> -->
                    <input matInput type="text" placeholder="{{ user.areaOfInterest}}" formControlName="areaOfInterest">
                </mat-form-field>
                <div class="edit-btn">
                    <button class="text-white" (click)="updateUser(user.userId)">
                        Submited
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>