<nav class="navbar navbar-expand-lg header-container">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Marketfy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        <li class="nav-item">
          <button class="nav-link" mat-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
          <mat-menu #menu="matMenu">
            <div *ngIf="auth.isLoggedOut$ | async">
              <button mat-menu-item routerLink="/user/login">Login</button>
              <button mat-menu-item routerLink="/user/signup">Sign up</button>
            </div>
            <div *ngIf="auth.isLoggedIn$ | async"> 
              <ng-container *ngIf="(auth.user$ | async) as user">
              <button mat-menu-item routerLink="/user/profile">Hi, {{user.name}}</button>
              <button mat-menu-item routerLink="/user/orders">My Orders</button>
              <button mat-menu-item (click)="logout()">log out</button>
            </ng-container>
            </div>
          </mat-menu>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/cart">
            <mat-icon aria-hidden="false" matBadge="{{ itemCount }}" matBadgeColor="warn">shopping_cart_checkout</mat-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/wishlist">Wish List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>